# audio tokenizing
auditok
pyaudio
pydub

# sentiment analysis
textblob

# speech recognition
PocketSphinx
SpeechRecognition
# google-api-python-client
# oauth2client

# general
pathlib

# backporting python3 to python2
backports.tempfile
six
